@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("../public/fonts/AvenirNext.ttf");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.fkrr1 {
  font-family: "Inter", sans-serif;
}

.magical-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    94.75deg,
    rgb(5, 157, 255) 0%,
    rgb(101, 73, 213) 43.66%,
    rgb(227, 63, 161) 64.23%,
    rgb(246, 79, 86) 80.09%,
    rgb(251, 83, 67) 83.76%,
    rgb(253, 123, 66) 100%
  );
}

.magical-bg {
  background-image: linear-gradient(
    94.75deg,
    rgb(5, 157, 255) 0%,
    rgb(101, 73, 213) 43.66%,
    rgb(227, 63, 161) 64.23%,
    rgb(246, 79, 86) 80.09%,
    rgb(251, 83, 67) 83.76%,
    rgb(253, 123, 66) 100%
  );
}
